.App {
  text-align: center;
}

@font-face {
    font-family: "PressStart2P";
    src: url("fonts/PressStart2P-Regular.ttf") format("truetype");
}

.App, body {
    font-family: "PressStart2P";
}

.App .ant-page-header-heading-title {
    cursor: pointer;
    text-shadow: rgb(225, 178, 186) 2px 2px 0px;
    color: rgb(62, 169, 169);
    font-size: 30px;
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-container.is-rounded {
    border-image-repeat: stretch;
  }
}

